.sport {
    background: url(../img/sport.svg);
}

.business {
    background: url(../img/business.svg);
}

.general {
    background: url(../img/general.svg);
}

.health {
    background: url(../img/health.svg);
}

.science {
    background: url(../img/science.svg);
}

.technology {
    background: url(../img/technology.svg);
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    color: #000;
    overflow-x: hidden;
    min-height: 100vh;
    background-color: #dadada;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.countries-select .container {
    display: flex;
    flex-direction: row-reverse;
}

.countries-select .select-wrapper {
    min-width: 180px;
}

.countries-select .dropdown-content li {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
}

.countries-select .dropdown-trigger {
    text-indent: -80px;
}

.countries-select .select-dropdown li img {
    width: 20px;
    height: 20px;
    margin-left: auto;
}

.show-news .news-selects {
    left: -100%;
}

.news-list {
    position: relative;
    left: -100%;
    transition: 0.5s;
}

.show-news .news-list {
    left: 0;
}

.news-selects {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
}

.news-selects__search {
    width: 300px;
    margin-bottom: 50px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.magnifying-glass {
    position: relative;
    transform: translateX(40%);
    transition: transform 500ms;
}

.search.active .magnifying-glass {
    transform: translateX(-7%);
}

.magnifying-glass-path {
    fill: none;
    stroke-dasharray: 210 808;
    stroke-linecap: round;
    stroke-width: 6;
    stroke: #000;
    transition: stroke-dasharray 500ms, stroke-dashoffset 500ms;
}

.search.active .magnifying-glass-path {
    stroke-dasharray: 580 808;
    stroke-dashoffset: -224px;
}

.x {
    fill: none;
    stroke-dasharray: 56 92;
    stroke-dashoffset: -92px;
    stroke-linecap: round;
    stroke-width: 6;
    stroke: #000;
    transition: stroke-dashoffset 500ms;
    visibility: hidden;
}

.search.active .x {
    visibility: visible;
}

.search.searching .x {
    stroke-dashoffset: 0;
}

.search .search__input {
    border: 0 !important;
    box-shadow: none !important;
    font-size: 1.2em;
    left: 20px;
    outline: 0 !important;
    position: absolute;
    top: 4px;
}

.search__overlay {
    background: rgba(0, 0, 0, 0);
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    transition: background 300ms;
}

.search__overlay--first {
    height: 64px;
    left: 110px;
    top: -10px;
    width: 64px;
}

.search__overlay--second {
    height: 38px;
    left: 240px;
    top: 0px;
    width: 38px;
}

.search__overlay:hover {
    background: rgba(0, 0, 0, 0.08);
}

.search.active .search__overlay--first {
    visibility: hidden;
}

.search:not(.active) .search__overlay--second,
.search:not(.searching) .search__overlay--second {
    visibility: hidden;
}

.categories__list {
    display: flex;
    flex-wrap: wrap;
}

.categories__icon {
    width: 40px;
    cursor: pointer;
}

.categories__item {
    position: relative;
    margin-right: 40px;
    z-index: 1;
}

.categories__item:last-child {
    margin-right: 0;
}

.categories__item::before {
    content: '';
    content: '';
    display: none;
    width: 64px;
    height: 64px;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background: rgba(0, 0, 0, 0.08);
    left: -50%;
    top: -50%;
    transform: translate(14%, 16%);
}

.categories__item:hover::before {
    display: block;
}

.news-list__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.news-list .news-list__item {
    max-width: calc(50% - 20px);
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.news-list__title,
.news-list__author {
    font-weight: 500;
}

.news-list .news-list__img {
    min-height: 170px;
}

.news-list__actions,
.news-list__info {
    margin-top: auto;
}

.news-list__back {
    border: none;
    background: none;
    font-size: 30px;
    position: relative;
    left: -50px;
    cursor: pointer;
}

.news-list__back path {
    fill: #474444;
    transition: 0.5s;
}

.news-list__back:hover path {
    fill: #fff;
}

.news-list__back:focus {
    background: none;
}

.dropdown-content li>a,
.dropdown-content li>span {
    color: #483d3db3 !important;
}

.news-recomendation {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 4;
    background: #00000069;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.news-recomendation__card {
    max-width: 400px;
    text-align: center;
    cursor: default;
}

.news-recomendation__card svg {
    transform: rotate(40deg);
    margin-right: 5px;
}

.news-recomendation__registrate {
    margin-bottom: 20px;
}

.news-auth {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(162, 167, 169, 0.46);
    z-index: 1;
    cursor: pointer;
    transition: 0.5s;
}

.show-auth {
    display: flex;
    transition: 0.5s;
}

.news-auth__tabs {
    max-width: 460px;
    border-radius: 10px;
}

.news-auth .tabs .tab a {
    color: rgba(38, 166, 154, 0.73);
}

.news-auth .tabs .tab a:hover,
.news-auth .tabs .tab a.active {
    color: #26a69a;
}

.news-auth .tabs .tab a:focus,
.news-auth .tabs .tab a:focus.active {
    background-color: rgba(38, 166, 154, 0.11);
}

.news-auth .tabs .indicator {
    background-color: #26a69a;
}

.news-login__btn .fa-paper-plane {
    margin-left: 5px;
}

.news-auth fieldset {
    border: none;
}

.news-auth__login,
.news-auth__registrate {
    min-width: 450px;
    cursor: default;
}

.news-auth__login .news-login__form label,
.news-auth__registrate .news-registrate__form label {
    top: 5px;
    left: 11px;
}

.main-header .main-nav {
    background: none;
    box-shadow: none;
}

.main-nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.auth__btn {
    cursor: pointer;
    background: none;
    border: none;
    font-weight: 500;
    transition: 0.5s;
}

.auth__btn:hover {
    color: #969090;
    transition: 0.5s;
}

.auth__btn:focus {
    background: none;
}

.news-account {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    background: #00000087;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.news-account__wrapper {
    min-width: 250px;
    display: flex;
    justify-content: center;
    cursor: default;
}