*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    color: #000;
    overflow-x: hidden;
    min-height: 100vh;
    background-color: #dadada;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.countries-select .container {
    display: flex;
    flex-direction: row-reverse;
}

.countries-select .select-wrapper {
    min-width: 180px;
}

.countries-select .dropdown-content li {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
}

.countries-select .dropdown-trigger {
    text-indent: -80px;
}

.countries-select .select-dropdown li img {
    width: 20px;
    height: 20px;
    margin-left: auto;
}

.news-selects {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.news-selects__search {
    width: 300px;
    margin-bottom: 50px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.magnifying-glass {
    position: relative;
    transform: translateX(40%);
    transition: transform 500ms;
}

.search.active .magnifying-glass {
    transform: translateX(-7%);
}

.magnifying-glass-path {
    fill: none;
    stroke-dasharray: 210 808;
    stroke-linecap: round;
    stroke-width: 6;
    stroke: #000;
    transition: stroke-dasharray 500ms, stroke-dashoffset 500ms;
}

.search.active .magnifying-glass-path {
    stroke-dasharray: 580 808;
    stroke-dashoffset: -224px;
}

.x {
    fill: none;
    stroke-dasharray: 56 92;
    stroke-dashoffset: -92px;
    stroke-linecap: round;
    stroke-width: 6;
    stroke: #000;
    transition: stroke-dashoffset 500ms;
    visibility: hidden;
}

.search.active .x {
    visibility: visible;
}

.search.searching .x {
    stroke-dashoffset: 0;
}

.search .search__input {
    border: 0 !important;
    box-shadow: none !important;
    font-size: 1.2em;
    left: 20px;
    outline: 0 !important;
    position: absolute;
    top: 4px;
}

.search__overlay {
    background: rgba(0, 0, 0, 0);
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    transition: background 300ms;
}

.search__overlay--first {
    height: 64px;
    left: 110px;
    top: -10px;
    width: 64px;
}

.search__overlay--second {
    height: 38px;
    left: 240px;
    top: 0px;
    width: 38px;
}

.search__overlay:hover {
    background: rgba(0, 0, 0, 0.08);
}

.search.active .search__overlay--first {
    visibility: hidden;
}

.search:not(.active) .search__overlay--second,
.search:not(.searching) .search__overlay--second {
    visibility: hidden;
}

.categories__list {
    display: flex;
    flex-wrap: wrap;
}

.categories__icon {
    width: 40px;
    cursor: pointer;
}

.categories__item {
    position: relative;
    margin-right: 40px;
    z-index: 1;
}

.categories__item:last-child {
    margin-right: 0;
}

.categories__item::before {
    content: '';
    content: '';
    display: none;
    width: 64px;
    height: 64px;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background: rgba(0, 0, 0, 0.08);
    left: -50%;
    top: -50%;
    transform: translate(14%, 16%);
}

.categories__item:hover::before {
    display: block;
}